@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
.landing-page{
    position: relative;
    display: flex;
    justify-content: center;
    align-items:center;
    overflow-x: hidden;
    background-color: rgb(246, 246, 248);
}
.landing-page-text{
    position:relative;
    padding: 10vh 0;
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-right: 120px;
}
.landing-page-img {
    margin-top: 40px;
    animation: shapeani05 7s linear infinite;
}
.landing-page-text .page-img{
    margin-top: 10px;
    margin-left: -50px;
}
.page-text{
    position: relative;
    margin-top: 0px;
    margin-left: 30px;
    padding: 20px 0;
}
.page-text h1 , 
.page-text p{
    font-family: 'Poppins',sans-serif;
}
.page-text h1{
    font-size: 40px;
    color: #242f51;
    font-weight: 700;
}
.page-text p{
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
    color: #242f51;
    margin-top: 10px;
}
.page-text .page-btn{
    display: flex;
    justify-content: flex-start;
    padding: 20px 0;
    margin-top: 20px;
}
.page-btn button{
    margin-left: 20px;
}
.page-btn button:nth-child(1){
    color: #ffffff;
    background: #61DAFB;
    box-shadow: 0 0 5px #61DAFB, 0 0 20px #61DAFB, 0 0 10px #61DAFB;
    border: none;
    border-radius: 2em;
    padding: 0.6rem 2rem;
    font-size: 1rem;
    cursor: pointer;
    font-family: 'Poppins',sans-serif;
    font-size: 16px;
}
.page-btn button:nth-child(2){
    background-color: transparent;
    border: none;
    outline: none;
    color: #242f51;
}

/*landing page animation*/

@keyframes shapeani01{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}
.second-anima{
    background-color: transparent;
    border: 5px solid #fe7280;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 50%;
    top: 15%;
    animation: shapeani02 3s linear infinite;
    opacity: 0.2;
    border-radius: 50%;
}
@keyframes shapeani02{
    0%,100%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(15px);
    }
}
@keyframes shapeani05{
    0%,100%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-25px);
    }
}
.third-anima{
    background-color: transparent;
    border: 5px solid rgb(254,170,37);
    width: 30px;
    height: 30px;
    position: absolute;
    left: 10%;
    top: 10%;
    animation: shapeani01 12s linear infinite;
    opacity: 0.2;
}

.fourth-anima{
    background-color: transparent;
    border: 5px solid rgb(171,168,253);
    width: 40px;
    height: 40px;
    position: absolute;
    left: 60%;
    top: 30%;
    opacity: 0.2;
    border-radius: 50%;
}
@keyframes shapeani04{
    0%{
        transform: scale(0.5);
    }
    50%{
        transform: scale(1);
    }
}
.fifth-anima{
    background-color: transparent;
    border: 5px solid rgb(136,203,253);
    width: 40px;
    height: 40px;
    position: absolute;
    left: 10%;
    top: 30%;
    opacity: 0.2;
    border-radius: 50%;
}
.sixth-anima{
    background-color: transparent;
    border: 5px solid rgb(241, 50, 50);
    width: 70px;
    height: 70px;
    position: absolute;
    left: 50%;
    top: 70%;
    opacity: 0.2;
    animation: shapeani01 12s linear infinite;
}
.seventh-anima{
    background-color: transparent;
    border: 5px solid rgb(50, 123, 241);
    width: 70px;
    height: 70px;
    position: absolute;
    left: 40%;
    top: 40%;
    opacity: 0.2;
    animation: shapeani01 12s linear infinite;
}
@media screen and (max-width: 480px){
    .landing-page-animations{
        display: none;
    }
    .landing-page{
        display: flex;
        flex-direction: column;
        width: 100%;
       }
    .landing-page-text{
        width: 100%;
        margin-right: 0px!important;
    }
    .landing-page-text .page-img{
        margin-top: 30px;
        margin-left: 0px!important;
        display: flex;
        justify-content: center;
    }
    .landing-page-text .page-img img{
        width: 100%;
    }
    .page-text{
        position: relative;
        margin-left: 0px!important;
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: -10px;
    }
    .page-text h1{
        margin-left: 10px;
        margin-right: 10px;
        font-size: 30px!important;
    }
    .page-text p{
        font-size:16px;
        margin-left: 10px;
        margin-right: 10px; 
    }
    .page-btn{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .page-btn button{
        margin-left: 0px!important;
    }
    .page-btn-1{
        width: 180px;
        
    }
    .page-btn-2{
        display: none;
    }
    .landing-page-img {
        margin-top: 0px!important;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .landing-page-img img{
        width: 70%;
        margin-top: -70px;
    }
}


@media screen and (min-width:481px) and (max-width: 800px){
    .landing-page{
        display: flex;
        flex-direction: column;
        width: 100%;
       }
       .landing-page-animations{
        display: none;
    }
    .landing-page-text{
        width: 100%;
        margin-right: 0px!important;
    }
    .landing-page-text .page-img{
        margin-top: 30px;
        margin-left: 0px!important;
        display: flex;
        justify-content: center;
    }
    .landing-page-text .page-img img{
        width: 100%;
    }
    .page-text{
        position: relative;
        margin-left: 0px!important;
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: -10px;
    }
    .page-text h1{
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
        font-size: 30px!important;
    }
    .page-text p{
        font-size:16px;
        margin-left: 40px;
        margin-right: 40px; 
        padding: 20px 0;
    }
    .page-btn{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .page-btn button{
        margin-left: 0px!important;
    }
    .page-btn-1{
        width: 180px;
    }
    .page-btn-2{
        display: none;
    }
    .landing-page-img {
        margin-top: 0px!important;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .landing-page-img img{
        width: 50%;
        margin-top: -70px;
    }
}
@media screen and (min-width:801px) and (max-width:1100px){
    .page-btn button:nth-child(2){
        display: none;
    }
}