@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
.ultimate{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.ultimate-text{
    flex: 0 0 40%;
    display: flex;
    flex-wrap: wrap;
}
.ultimate-card{
    flex: 0 0 40%;
    height: auto;
    margin-top: 5px;
    margin-left: 30px;
    width: 100px;
    height: cover;
}
.ultimate-card img{
    width: 100%;
}
.ultimate-card-img-back{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-left: 20px;
    margin-top: 10px;
}
#img-back-1{
    background-color: rgb(255,236,239);
}
#img-back-2{
    background-color: rgb(228,255,238);
}
#img-back-3{
    background-color: rgb(255,246,211);
}
#img-back-4{
    background-color: rgb(244,244,255);
}
.ultimate-card-text{
    display: flex;
    justify-content: center;
    padding: 20px 0;
}
.ultimate-card-text-back{
    width: 100%;
    padding: 10px 5px;
}
.ultimate-card h2,
.ultimate-card p{
    color: gray;
}
.ultimate-card-text h2{
    color: gray;
    font-family: 'Poppins',sans-serif;
    font-size: 20px;
    font-weight: 500;
}
.ultimate-card-text p{
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
}
.ultimate-img{
    flex: 0 0 50%;
}
@media screen and (max-width:1100px){
    .ultimate{
        display: flex;
        flex-direction: column;
        margin-top: -10px;
    }
    .ultimate-text{
        width: 100%!important;
        display: none;
    }
    .ultimate-img{
        width: 100%!important;
    }
    .ultimate-img img{
        width: 100%!important;
    }
}













